# This config file is gitignored and reset on each deploy.
# Actual configuration should live in another file, "proguard.cfg" by default.
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\cldc11.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\filemanagerapi.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\javapiglerapi.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr120.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr135.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr177_crypto.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr179.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr184.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr211.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr226.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr234.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr239.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr256.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr75_file.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr75_pim.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\jsr82.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\mascotv3.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\midp21.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\nokiaui.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\notificationapi.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\rpcapi.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\samsungapi.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\siemensio.jar'
-libraryjars 'C:\Users\Paiva\Documents\kemnnx64\uei\windowapi.jar'
-injars 'C:\Users\Paiva\Documents\Projetos\Topgearv2\TopGearV2\deployed\raw\TopGearV2.jar'
-outjars 'C:\Users\Paiva\Documents\Projetos\Topgearv2\TopGearV2\deployed\TopGearV2.jar'
-printseeds 'C:\Users\Paiva\Documents\Projetos\Topgearv2\TopGearV2\deployed\pro_seeds.txt'
-printmapping 'C:\Users\Paiva\Documents\Projetos\Topgearv2\TopGearV2\deployed\pro_map.txt'
-dontusemixedcaseclassnames -dontnote -defaultpackage '' -microedition -target 1.2 -optimizations !library/*,!code/simplification/object
-keep public class * extends javax.microedition.midlet.MIDlet
-assumenosideeffects public class java.lang.StringBuffer {
    public java.lang.String toString();
    public char charAt(int);
    public int capacity();
    public int codePointAt(int);
    public int codePointBefore(int);
    public int indexOf(java.lang.String,int);
    public int lastIndexOf(java.lang.String);
    public int lastIndexOf(java.lang.String,int);
    public int length();
    public java.lang.String substring(int);
    public java.lang.String substring(int,int);
}
